name: CI (Infra)
on:
  pull_request:
  push:
    branches: [ "main" ]
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate files
        run: |
          ls -la
