name: CI (Flutter)
on:
  pull_request:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
      - name: Pub get
        run: flutter pub get
      - name: Analyze
        run: flutter analyze
      - name: Build APK
        run: flutter build apk --release
